<article class="post" data-id="@Model.ID" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <header>
        <h1 itemprop="headline name">
            <a href="@Model.Url" itemprop="url">@Model.Title</a>
        </h1>
        <div class="meta">
            <abbr title="@Model.PubDate.ToLocalTime()" itemprop="datePublished">@Model.PubDate.ToLocalTime().ToString("MMMM d. yyyy")</abbr>
            <a href="@Model.Url#comments">
                <em class="glyphicon glyphicon-comment"></em>
                @Model.CountApprovedComments(Context) Comments
            </a>
            @Categories()
            @SocialMedia()
        </div>
    </header>

    @if ((Blog.CurrentPost != null || Blog.IsNewPost) && User.Identity.IsAuthenticated)
    {
        <div id="excerpt" style="display:none;">
            <h4>Excerpt:</h4>
            <div itemprop="description">@Model.Excerpt</div>
        </div>
    }

    <div itemprop="articleBody">@Html.Raw(Blog.IsEditing ? Model.Content : Model.GetHtmlContent())</div>

    @if (Blog.CurrentPost != null)
    {
        <section id="bottom-ad">
            @if (Blog.CurrentPost != null)
            {
                <div class="ads-landscape">
                    <div data-type="ad" data-publisher="lqm.mikaelkoskinen.site" data-format="728x90" data-zone="ros"></div>
                </div>
            }
        </section>
        <section id="comments" aria-label="Comments">
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = '@(Request.Url.Scheme + "://" + Request.Url.Authority + Request.RawUrl)'; 
this.page.identifier = '@Blog.CurrentPost.ID'; 
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://mikaelkoskinen.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
        </section>

    }
</article>

@helper Categories()
{
    if (Model.Categories.Length > 0 || User.Identity.IsAuthenticated)
    {
        <ul class="categories">
            <li><em class="glyphicon glyphicon-tags"></em>&nbsp; Posted in:&nbsp;</li>
            @foreach (string cat in Model.Categories)
            {
                <li itemprop="articleSection">
                    <a href="~/category/@HttpUtility.UrlEncode(cat.ToLowerInvariant())">@cat</a>
                </li>
            }
        </ul>
    }
}
@helper SocialMedia()
{
    <ul class="socialmedia">
        <li itemprop="articleSection">
            <a class="twitter" href="@string.Format("http://twitter.com/intent/tweet?text={0}:+{1}", @HttpUtility.UrlEncode(Model.Title), @HttpUtility.UrlEncode(Model.AbsoluteUrl.ToString()))">Share on Twitter</a>
        </li>
    </ul>
}